.data-table-container {
  width: 90%;
  margin: 20px auto;
  border: 1px solid var(--color-table-border);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

#education-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
}

#education-table thead th {
  background-color: var(--color-primary);
  color: var(--color-background-3);
  padding: 12px;
  border: 1px solid var(--color-table-border);
  text-align: center;
}

#education-table tbody tr:nth-child(even) {
  background-color: var(--color--light-gray);
}

#education-table tbody tr:hover {
  background-color: var(--color-table-hover);
}

#education-table td {
  padding: 12px;
  border: 1px solid var(--color-table-border);
  text-align: center;
}

.header-thumb {
  width: 20px;
  vertical-align: middle;
  margin-right: 4px;
}

a.table-link {
  color: var(--color-primary);
  text-decoration: none;
}

a.table-link:hover {
  text-decoration: underline;
}

.dt-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  /* mimics sx={{mb:2}} */
}

.dt-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  /* mimics sx={{mt:2}} */
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
}

.footer-right {
  text-align: right;
}