.table-section-2 {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

#projects-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-table-background);
}

#projects-table th,
#projects-table td {
  border: 1px solid var(--color-table-border);
  padding: 12px;
  text-align: center;
}

/* ............................................................Table Title Styling................................ */
.table-title {
  font-size: 1.5em;
  padding: 20px;
  background-color: var(--color-background-4);
  color: var(--color-white);
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.table-logo {
  height: 50px;
  margin-right: 15px;
}

/* Header container for icon and text in header cells */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-table thead tr:nth-child(2) th {
  background-color: var(--color-background-4);
  color: #fff;
}

.header-icon {
  width: auto;
  height: 80px;
  margin-bottom: 5px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.header-icon:hover {
  animation: wiggle 0.3s ease-in-out;
}

#projects-table tbody tr:nth-child(even) {
  background-color: var(--color--light-gray);
}

#projects-table tbody tr:hover {
  background-color: var(--color-table-hover);
}

#projects-table a {
  color: var(--color-primary);
  text-decoration: none;
}

#projects-table a:hover {
  text-decoration: underline;
}

#projects-table th[title] {
  cursor: help;
}

.fa-eye {
  color: var(--color-secondary);
  font-size: 20px;
}

.fa-eye:hover {
  color: var(--color-border);
}

@media (max-width: 768px) {
  #projects-table th,
  #projects-table td {
    padding: 8px;
    font-size: 0.9em;
  }
}
