:root {
    /* Primary Colors */
    --color-primary: #007bff;
    --color-primary-light: #75afec;
    --color-primary-hover: #0056b3;

    /* Secondary Colors */
    --color-secondary: #0056b3;
    --color-secondary-hover: #0c3eac;

    /* Tertiary Colors */
    --color-tertiary: #6291c8;
    --color-tertiary-hover: #7792b0;

    /* Background Colors */
    --color-background-1: #f8f9fa;
    --color-background-2: #e9ecef;
    --color-background-2-t: #e9ecef68;
    --color-background-3: #fff;
    --color-background-4: #007bffae;
    --color-background-5: #a4abb48b;
    --color-bacground-body: #F8F9FA;
    --color-transparent-black: rgba(0, 0, 0, 0.15);

    /* Text Colors */
    --color-text: #333;
    --color-text-inverse: #ffffff;

    /* Headings */
    --heading-bg: #e0f7fa;
    --heading-text-color: #006064;
    --underline-pattern: repeating-linear-gradient(90deg, #006064, #006064 5px, transparent 5px, transparent 10px);

    /* Neutrals */
    --color-white: #ffffff;
    --color-white-t: #ffffff68;
    --color--light-gray: #f0f0f0;
    --color-dark-gray: #343a40;
    --color-border: #2c2929;

    /*tables*/
    --color-table-border: #ddd;
    --color-table-hover: #cecece;


    /* Gradients */
    --gradient-blue: linear-gradient(135deg, #0d47a1, #42a5f5);
    --gradient-blue-reverse: linear-gradient(135deg, #42a5f5, #0d47a1);

    /* Dark Mode Header Gradient */
    --gradient-header-dark: linear-gradient(135deg, #1f1f1f, #333333);

    /* Transitions */
    --transition-speed: 0.3s;

    /* Additional Colors */
    --color-link: var(--color-primary);
    --color-link-hover: var(--color-primary-hover);
}

body {
    margin: 0;
    padding: 0;
    /* padding-top: 108px; */
    font-family:'Times New Roman', Times, serif;
    background-color: #F8F6F0;
    color: var(--color-text);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#header-placeholder {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}