.table-1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.1em;
}

.countryflag{
    width: 90px;
    height: 50px;
}

#education-data {
    width: auto;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: var(--color-table-background);
}

#education-data thead tr {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

#education-data th,
#education-data td {
    border: 1px solid var(--color-table-border);
    padding: 12px;
    text-align: center;
}

#education-data th {
    font-weight: bold;
}

#education-data tbody tr:nth-child(even) {
    background-color: var(--color--light-gray);
}

#education-data tbody tr:hover {
    background-color: var(--color-table-hover);
}

#education-data img {
    height: 30px;
    width: auto;
    border-radius: 3px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.table-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.dataTables_wrapper .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.dataTables_wrapper .col-4 {
    flex: 1;
}

.dataTables_wrapper .text-center {
    text-align: center;
}

.dt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.dt-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-left {
    margin-top: 8px;
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    margin-top: 8px;
    text-align: right;
}

@media (max-width: 768px) {

    #education-data th,
    #education-data td {
        padding: 8px;
        font-size: 0.8em;
    }
}