body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    background-color: #ebeced; /* Light blue background */
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
    color: rgb(0, 0, 0);
}

.hero h1 span {
    color: #31a0f5; 
}


.main-image img {
    width: 100%;
    max-width: 680px;
    border-radius: 5px;
    margin-left: 3%;
}

.image-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-left: 3%;
}

/* Buttons Section */
.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    width: 200px;
    text-align: center;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.15);
}

.piggy-bank-img {
    width: 200px;
    height: 150px;
}

.btn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.volunteer-img{
    width: 200px;
    height: 250px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap: 90px; /* Increase space between cards */
    padding: 10px ;
    max-width: 1400px;
    margin: 0 auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Increase padding */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 700px; /* Adjust height */
}

.card h2 {
    font-size: 2em; /* Increase heading size */
    color: #31a0f5;
}

.card p {
    font-size: 1.2em; /* Increase paragraph size */
    color: #555;
    margin-bottom: 20px;
}

.card .btn {
    padding: 12px 25px;
    font-size: 1.1em;
}

/* Responsive: Show one card per row on smaller screens */
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}