body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container a {
    color: #007bff;
}

/* ........................................... Dark mode ........................................................ */

body.dark-mode .container a {
    color: #40c4ff;
}

body.dark-mode .container a:hover,
.container a:hover {
    color: #0056b3;
}

/* ..................................... Adjusting links within .top in dark mode .................................... */
body.dark-mode .top a {
    color: #ddd;
}

/* ............................................. Rest of css ............................................. */

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    flex: 3;
    background-color: #7baad831;
}

main h2 {
    text-align: center;
    font-size: 1.8em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

main h3 {
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

main h4 {
    text-align: left;
    margin-left: 10px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
p {
    font-size: 15px; 
    max-width: 80%; 
    margin: 0 auto;
    line-height: 1.6; 
    color: #333; 
}

aside {
    flex: 1;
    background-color: #7baad831;
    padding: 15px;
    border: 1px solid #b5cef4;
    margin-right: 20px;
    font-size: 1.2em;
}

aside h3 {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa2f;
}

.ref li {
    list-style: none;
    padding-bottom: 9px;
}

aside a {
    text-decoration: none;
}

aside li {
    padding-bottom: 4px;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: #595a54ef;
    color: white;
    margin-top: 127px;
}

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.top a {
    padding: 10px 20px;
    /* Adds padding for button-like feel */
    background-color: #007bff;
    /* Button color */
    color: white;
    /* Text color */
    text-decoration: none;
    /* Removes underline */
    border-radius: 20px;
    /* Rounds the corners */
    font-size: 12px;
    /* Adjust font size */
    font-weight: bold;
    /* Make the text stand out */
}

.top a:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /*Adds a subtle shadow*/
}

/* ....................................................   Additional CSS for f <dl> elements ................................................. */

main dl {
    background-color: #F8F9FA;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

main dl dt {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

main dl dd {
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: #3b3b3b;
}

/* .............................. ..  Enhancing lists in the content area  ............................... */
main ul {
    list-style-type: disc;
    padding-left: 30px;
    margin: 10px 0;
}

main ul li {
    margin-bottom: 5px;
}

main .refrence {
    background-color: #F8F9FA;
    color:#333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}